* {
    font-family: Arial;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.btn {
    font-size: 13px;
    text-decoration: none;
    border: 1px solid #b0b0b0;
    padding: 3px 10px;
    color: #fff;
    background: #ccc;
    text-shadow: 1px 1px 0 #999;
}

.container {
    display: table-row;
}

.container .toolbar {
    display: table-cell;
    width: 200px;
    padding: 10px;
    border-right: 1px solid #b0b0b0;

    background-color: #f0f0f0;
    height: 100%;
}

.container .toolbar ul {
    list-style: none;
    padding: 0;
    width: 200px;
}

.container .toolbar ul li {
    padding: 2px 3px;
}

.container .toolbar ul li.active {

}

.container .toolbar ul a {
    font-size: 13px;
    text-decoration: none;
    color: #333;
    text-shadow: 0px 1px 0 #fff;
}

.container .toolbar ul li a.control {
    display: none;
}

.container .toolbar ul li:hover a.control {
    display: inline;
}

.container .toolbar ul li:hover a.edit.control {
    display: inline-block;
    background: transparent url(../img/edit.png) no-repeat 0 0px;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
}

.container .toolbar .connections li {
    background: transparent url(../img/database.png) no-repeat 0 3px;
    padding-left: 20px;
}

.container .toolbar .connections li.active {
    background: transparent url(../img/database_active.png) no-repeat 0 3px;
}

.container .toolbar .queries-list li.active {
    width: 204px;
    background-color: #9dacba;
    margin-left: -10px;
    padding-left: 13px;
}

.container .toolbar .queries-list li:hover {
    width: 204px;
    background-color: #ddd;
    margin-left: -10px;
    padding-left: 13px;
}

.container .toolbar .queries-list li:hover a {
    color: #333 !important;
    text-shadow: 0px 1px 0 #fff !important;
}


.container .toolbar .queries-list li.active a {
    text-shadow: 1px 1px 0 #555;
    color: #fff
}

.container .toolbar .note {
    font-size: 12px;
    color: #999;
    text-align: justify;
}

.container .toolbar h3 {
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
    text-shadow: 0px 1px 0 #fff;
}

.container .toolbar form label {
    display: block;
    font-size: 11px;
    color: #666;
    text-transform: uppercase;
}

.container .toolbar form input[type="text"], .container .toolbar form input[type="password"] {
    width: 185px;
    margin: 5px 0;
    padding: 3px 5px;
    font-size: 12px;
}

.container .query-profile {
    /*padding: 10px 10px 10px 20px;*/
    display: table-cell;
    width: 100%;
    vertical-align: top;
}

.container .query-profile .favorite {
    text-indent: -9999px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url(../img/favorite.png) no-repeat 0 4px;
    vertical-align: top;
    padding-top: 4px;
}

.container .query-profile .favorite.active {
    background-image: url(../img/favorite_active.png);
}

.container .query-profile h1 {
    margin: 0;
    border-bottom: 1px solid #b0b0b0;
    font-size: 21px;
    padding: 5px 10px;
    color: #333;
    font-weight: normal;
    background-color: #f9f9f9;
    text-shadow: 1px 1px 0 #fff;
}

.container .query-profile h2 {
    margin: 0;
    font-size: 16px;
    padding-bottom: 5px;
    color: #555;
    font-weight: normal;
}

.container .query-profile .query {
    border-bottom: 1px solid #b0b0b0;
    margin: 0 0 10px 0;
}

.container .query-profile .query label {
    display: block;
    font-size: 13px;
    color: #333;
}

.container .query-profile .query textarea {
    width: 100%;
    height: 150px;
    font-family: Courier New;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #b0b0b0;
    padding: 10px;
    display: block;
}

.container .query-profile .query input {
    font-size: 13px;
    line-height: 15px;
    padding: 3px 5px;
    color: #333;
    width: 400px;
    margin: 0;
    border: 1px dashed #b0b0b0;
    vertical-align: top;
}

.container .query-profile .query .controls {
    padding: 12px;
    background-color: #f9f9f9;
}

.container .query-profile .query .error {
    display: inline-block;
    font-size: 13px;
    color: #b0254a;
    width: 600px;
    vertical-align: top;
    margin-left: 10px;
}

.container .query-profile .query .execution-time {
    font-size: 13px;
    margin-left: 10px;
    color: #333;
}

.container .query-profile div.profile {
    margin: 10px;
}

.container .query-profile .profile.left {
    float: left;
    width: 300px;
    margin-right: 20px;
}

.container .query-profile .profile table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    min-width: 300px;
}

.container .query-profile .profile table thead th {
    background-color: #eee;
    color: #333;
    font-size: 13px;
    border: 1px solid #ccc;
    text-align: left;
    padding: 5px;
}

.container .query-profile .profile table tbody td {
    color: #333;
    font-size: 13px;
    border: 1px solid #ccc;
    text-align: left;
    padding: 5px;
}